/*UNIVERSAL*/
@font-face {
	font-family: "icons";
	src: url('../font/websymbols-regular-webfont.eot');
	src: url('../font/websymbols-regular-webfont.eot?#iefix') format("embedded-opentype");
	src: url('../font/websymbols-regular-webfont.svg') format("svg");
	src: url('../font/websymbols-regular-webfont.woff') format("woff");
	src: url('../font/websymbols-regular-webfont.ttf') format("truetype");
}

body{
	margin: 0px;
	background: rgb(78,78,78);
background: radial-gradient(circle, rgba(78,78,78,1) 0%, rgba(148,26,41,1) 100%, rgba(231,231,222,1) 100%);
}

/*HEADER*/
header{

}
header nav ul {
	background: white;
	list-style: none;
	display: flex;
	padding: 0px;
	margin: 0px auto;
}
li{
	padding: 20px;
	margin-left: 40px;
}
header nav ul li a{
	text-decoration: none;
	color: black;
}

/*MAIN CONTENT*/
p{
	background-color: red;
	height:200px;
	width: 50%;
	color: white;
}
main{
	background-color: #333;
	width: 80%;
	margin: 0px auto;
	margin-top: 50px;
	min-height: 1200px;
}
main h1{
	font-family: sans-serif;
	text-align:center;
	display: block;
	padding-top: 40px;
	padding-bottom: 20px;
	color: white;
	border-bottom: 1px solid white;
}
input[type="text"]
{
	margin: 0px auto;
	display: block;
	float: left;
	margin-right: 0px;
	margin-left: 40%;

}
input[type="button"]{
	margin: 0px auto;
	margin-right: 40%;
	float: right;
}
.btn{
	font-family: icons
	;
}
